<div class="about row">
    <div class="col-md-12">
       <h2>About me </h2>
        <br/>
        <p>我是赵梓杉</p>
        <p>我最美</p>
        <p>吃喝玩乐</p>

        <p><strong>About name</strong></p>

        <p>保持微笑！</p>


       <h2>
         Note
       </h2>

        <p>
            今天吃的多，开熏
       </p>

       <p>
        最后，还是感谢您在茫茫人海中阅读了我的文章。
       </p>

       <h2>
         History
       </h2>

        <!-- Comments -->
       <div class="comment">
         {% include comments.html %}
       </div> 

    </div>
</div>